<!DOCTYPE html>
<html>
    <head>
        <title>Agricultura Orgânica</title>
        <meta charset="utf-8"> 
        <link rel="shortcut icon" href="imagens/globo-icon-3.png" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="css/agricultura.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>

    </head>
    <body class="green lighten-4">
        <header>
            <div class="navbar-fixed">
                <nav class="green darken-3">
                    <div class="nav-wrapper">
                        <a href="index.html" class="brand-logo center">Agricultura Orgânica</a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li>
                                <a href="index.html">INÍCIO</a>
                            </li>
                            <li class="active">
                                <a href="adesao.html">ADESÃO</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        
        <main class="container">
             <div><p></p></div>
                <div class="center">
                  <div class="col s12">
                    <a href="index.html" class="breadcrumb"> Início</a>
                    <a href="#!" class="breadcrumb">Adesão</a>
                  </div>
                </div>
            <form class="card-panel">
                <div class="input-field">
                    <input ng-model="item.nome" type="text">
                    <label for="nome">Nome</label>
                </div>
                <div class="input-field">
                    <input ng-model="item.endereco" type="text">
                    <label for="endereco">Endereço</label>
                </div>
                <div class="input-field">
                    <input ng-model="item.email" type="email">
                    <label for="email">Email</label>
                </div>
                <div>
                    <label for="estados">Estados</label>
                    <p>
                      <input name="group1" type="radio" id="pb"/>
                      <label for="pb">Paraíba</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="pe"/>
                      <label for="pe">Pernambuco</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="rn"/>
                      <label for="rn">Rio Grande do Norte</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="ce"/>
                      <label for="ce">Ceará</label>
                    </p>
                </div>
                <div><p></p></div>
                <button class="btn-sub btn waves-effect waves-light green darken-4" type="submit" name="action">Enviar<i class="material-icons right">send</i></button>
            </form>
        </main>
        
        <footer>
        <div class="footer-copyright green darken-3">
            
            <div class="container white-text text-darken-4">
                © 2017 Agricultura Orgânica - Caio Matheus e Nathan Andrade
                <a class="white-text text-darken-4 right" href="#!">Email: nathanandrade20@gmail.com // caiomatheus263@gmail.com</a>
            </div>
        </div>
        </footer>
    </body>

</html>